<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expose Apparel | Artwear for the Everyday</title>
    <link rel='icon' href='favicon/favicon-96x96.png' type='image/x-icon'>
    <link rel="stylesheet" type="text/css" href="index/fonts.css">
    <link rel="stylesheet" type="text/css" href="index/style.css">
</head>
<body>
    <!--Welcome Section - First thing you see on page; Contains logo, backdrop, and link to next section-->
    <div id="welcome">
        <div id="welcome-content">
            <div id="welcome-blur-panel">
                <img id="logo" src="index/imgs/expose-apparel.png" alt="Expose Apparel logo">
                <img id="welcome-panel" src="index/imgs\Welcome-1280x746.png" alt="Looking to wear something different? Join the club. Welcome to exposeapparel.club">
                <div class="button-aligner">
                    <div class="button">Enter the Website</div>
                </div>
            </div>
        </div>
    </div>

    <!--Start Section - Brief intro and links to rest of page-->
    <div id="start">
        <div id="start-flex">
            <div class="start-panel">
                <div class="panel-header"><h1>NEED SOMETHING CUSTOM?</h1></div>
                <p>Reach out! We work with small businesses, musical artists, sports teams, and event organizers to produce merchandise and promotional materials. Let’s chat about your project’s needs.</p>
                <div class="button-aligner">
                    <div class="button">GET IN TOUCH</div>
                </div>
            </div>
            <div id="start-flex-spacer"></div>
            <div class="start-panel color-inverse">
                <div class="panel-header"><h1>ARE YOU A STORE OWNER?</h1></div>
                <p>We put out a seasonal wholesale catalogue to show off the latest collections, artwork, and collaborations with artists. Take a look at what we’ve been cooking up!</p>
                <div class="button-aligner">
                    <div class="button">SHOP WHOLESALE</div>
                </div>
            </div>
        </div>
    </div>

    <!--New Tactical Section - Starts with banner and then displays products-->
    <div class="collection-banner new-tactical">
        <div class="collection-banner-content">
            <img src="index/imgs/New-Tactical-Product.png" alt="The 'New Tactical Product' collection">
            <p>
                <br>The sky is the limit when you’re willing to commodify <i>anything you touch.</i>
                <br>Everything is a product, everything is for sale, stay tactical my friends
            </p>
        </div>
    </div>

    <div class="product-list new-tactical">
        <div class="product-panel tactical-demon">
            <div class="product-panel-content">
                <img src="index/imgs/Tactical-Demon-08.png" alt="Tactical Demon Products">
                <p class="tactical-demon">
                    • Pre-Shrunk Cotton
                    <br>• We opened a portal
                    <br>• No one believes us
                    <br>• Grabbed this skull tho
                </p>
                <div class="button-aligner"><div class="button tactical-demon">TAKE A CLOSER LOOK</div></div>
            </div>
            <img class="product-photo" src="index/imgs/Demon-Product-Photo.png" alt="Tactical Demon T-shirt and Sweater">
        </div>
        <div class="product-panel tactical-ducky">
            <div class="product-panel-content">
                <img src="index/imgs/Tactical-Ducky-07.png" alt="Tactical Ducky Products">
                <p class="tactical-ducky">
                    • 100% Cotton
                    <br>• Your new best friend
                    <br>• Loves Baths
                    <br>• Quack Quack lol
                </p>
                <div class="button-aligner"><div class="button tactical-ducky">TAKE A CLOSER LOOK</div></div>
            </div>
            <img class="product-photo" src="index/imgs/Ducky-Product-Photo-1.png" alt="Tactical Ducky T-shirt and Sweater">
        </div>
        <div class="product-panel tactical-gaming">
            <div class="product-panel-content">
                <img src="index/imgs/Tactical-Gaming-09-09.png" alt="Tactical Gaming Products">
                <p class="tactical-gaming">
                    • Shirts and Hoodies
                    <br>• NOT a Gameboy®
                    <br>• Third Party System
                    <br>• Powered by P.A.B.L.O Ai
                </p>
                <div class="button-aligner"><div class="button tactical-gaming">TAKE A CLOSER LOOK</div></div>
            </div>
            <img class="product-photo" src="index/imgs/Gameboy-Product-Photo.png" alt="Tactical Gaming T-shirt and Sweater">
        </div>
    </div>

    <!--The Originals Section - Starts with banner and then displays products-->
    <div class="collection-banner the-originals">
        <div class="collection-banner-content">
            <img src="index/imgs/The-Originals.png" alt="The 'Originals' collection">
            <p>
                The Originals collection are the best sellers of our original run of apparel, these designs are battle tested favorites from customers, friends, and internet-folk alike.
                <br><br>Take a trip with us down memory lane as we remember where we started, and pay homage to our original artwork.
            </p>
        </div>
    </div>

    <div class="product-list the-originals">
        <div class="product-panel the-hippo">
            <img class="product-header" src="index/imgs/Hippo-Header-1-1280x160.png" alt="The Hippo Header Image">
            <img class="product-photo" src="index/imgs/Hippo-1280x1280.png" alt="The Hippo Products">
            <div class="button-aligner"><div class="button">TAKE A CLOSER LOOK</div></div>
        </div>
        <div class="product-panel the-cameraman">
            <img class="product-header" src="index/imgs/Cameraman-header-1280x159.png" alt="The Cameraman Header Image">
            <img class="product-photo" src="index/imgs/Cameraman-1280x1280.png" alt="The Cameraman Products">
            <div class="button-aligner"><div class="button">TAKE A CLOSER LOOK</div></div>
        </div>
        <div class="product-panel big-dick-energy">
            <img class="product-header" src="index/imgs/BDE-Header-1-1280x160.png" alt="Big Dick Energy Header Image">
            <img class="product-photo" src="index/imgs/BDE-1280x1280.png" alt="Big Dick Energy Products">
            <div class="button-aligner"><div class="button">TAKE A CLOSER LOOK</div></div>
        </div>
    </div>

    <!--Clubroom - Closing panel with social media links (displayed as gifs)-->
    <div id="clubroom">
        <div id="clubroom-content">
            <div id="clubroom-text">
                <h1>WELCOME TO THE CLUBROOM</h1>
                <p>Can I offer you a Beverage?</p>
            </div>
            <div id="beverage-links">
                <a href="https://www.instagram.com/expsapparel/"><img class="beverage-link" src="index/imgs/Instagram-1.gif" alt="Instagram beverage link"></a>
                <a href="https://www.facebook.com/sharetheartyouwear"><img class="beverage-link"  src="index/imgs/Facebook-1.gif" alt="Facebook beverage link"></a>
            </div>
        </div>
    </div>

    <!--Footer-->
    <footer>
        Designed by <a href="http://josharcari.com">josharcari.com</a>
    </footer>

    <!--Scripts-->
    
    <!-- 
    DEBUGGING WEB SOCKET ESP
    <script>
        let ws = new WebSocket('ws://'+window.location.hostname+':81/');

        ws.onopen = (evt) => {
            let json = '{"userInfo":"esp32"}';
            ws.send(json);
        };

        ws.onmessage = (evt) => {
            let data = JSON.parse(evt.data);
            console.log(data.buttonPressed);
        };
    </script> -->
</body>
</html>